# https://circleci.com/docs/2.0/configuration-reference/
version: 2.1
jobs:
  test: 
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: "Install node packages"
          command: npm install
      - run:
          name: "Run testing"
          command: npm run test